[Unit]
Description=purple alerting service

[Service]
User=root
WorkingDirectory=/etc/service/alert.steve.org.uk/
ExecStart=/etc/service/alert.steve.org.uk/bin/purple-alerter
KillMode=process
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
